// wazimap default var

$brand-primary-color: $brand-color-primary; 
$brand-secondary-darkest-color: $brand-color-primary;

$btn-muted-bg-color: $brand-color-secondary;
$btn-active-bg-color: $brand-color-primary;


$input-height: 60px;
$top-nav-height: 80px;

%card{
    background-color: $color-white;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    border-radius: 6px;
}