// wazimap default var

$brand-primary-color: $brand-color-primary; 
$brand-secondary-darkest-color: $brand-color-primary;

$btn-muted-bg-color: $brand-color-secondary;
$btn-active-bg-color: $brand-color-primary;
