@import "css/abstract/colors";
@import "css/abstract/variables";
@import "css/components/floatingnav";

a {
    color: $brand-color-primary;
    &:hover{
        color: $brand-color-primary-light;
    }
}

.callout i.fa {
    background-color: $brand-color-primary;
}

#cover-profile article {
    border: 1px solid #00adef;
}

.tt-suggestion.tt-cursor { 
 background-color: #FF3348;
}

.action-links a {
    cursor: pointer;
    color: $brand-color-primary;
}
.action-links a:hover {
    color: #FA1A2F;
}

.tan-stripe {
    background-color: #f7f7f7;
}

body {
    background-color: #FFF;
}

#page-header-title a, .box-header a {
    margin-right: 5px;
}

.bold{
    font-weight: bold;
}

#profile .content-container { 
    padding-left: 116px ; /** navbar width*/
}

.container-title{
    margin-bottom: 16px;
}
