/** Source: wazimap-za*/

#profile .floating-nav-wrapper {
    height: 55px;
    background-color: #dadada;

  }
  #profile .floating-nav a {
        color: #000000;
  }
  #profile .floating-nav {
    z-index: 1500;
    width: 100%;
    padding: 0.5em;
    background-color: #dadada;
  }
  
  #profile .floating-nav.affix {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }
  
  #profile .floating-nav h3 {
    margin-bottom: 0.6em;
    display: none;
  }
  
  #profile .floating-nav h3 a {
    color: #e00015;
    text-decoration: none;
  }
  
  #profile .floating-nav h3 img {
    width: auto;
    height: 17px;
    margin-right: 10px;
    vertical-align: text-bottom;
  }
  
  #profile .floating-nav.affix h3 {
    display: block;
  }

  
  #profile .floating-nav ul {
    margin: 0px;
    padding: 0px;
  }
  
  #profile .floating-nav li {
    display: inline-block;
    float: left;
    margin-right: 20px;
    text-align: center;
  }
  
  #profile .floating-nav li a {
    display: block;
    text-decoration: none;
  }
  
  #profile .floating-nav li a:hover {
    color: #00adef;
  }

  #profile .floating-nav li a span {
    display: block;
  }
  
  #profile .floating-nav li a .fa {
    font-size: 18px;
  }
  
  @media only screen and (max-width: 768px) {
    #profile .floating-nav-wrapper {
      display: none;
    }
  }
  