*.pyc
*.csv
node_modules/
.idea/
debug
.vagrant
.DS_Store
.vscode

# Empty directories (for Compose mounts)
static/*
certs/*

# Keep files
!.keep

# Virtual Environment folders
/nepalmap_venv
/nepalmap_env
/nepalmap
/venv

