{% extends 'profile/profile_detail.html' %}

{% block profile_header_tail %}
    <div class="column-full">
        <p class="caption"><strong>Census data:</strong> 2011</p>
    </div>
{% endblock %}

{% block profile_detail %}
    {% if area_has_no_data %}
        <h2>No data available for this area</h2>
    {% else %}
        {% include 'profile/sections/demographics.html' %}
        {% include 'profile/sections/agriculture.html' %}
        {% include 'profile/sections/education.html' %}
        {% include 'profile/sections/households.html' %}
    {% endif %}
{% endblock %}
