$link-width: 264px;

// where to?
#geography-select-wrapper{
    > div{
        height: 34px;
        position: relative;
    }
    .or{
        position: absolute;
        right: $link-width;
    }
    a{
        width: $link-width;
        position: absolute;
        right: 0;
    }
}
// end

h1{
    &.article-header{
        font-size: 2.6em;
    }
}