{% extends 'homepage.html' %}{% load humanize partition staticfiles %}

{% block head_title %}{{ WAZIMAP.name }}: {{WAZIMAP.tagline}}{% endblock %}
{% block head_meta_description %}{{ WAZIMAP.name }} provides useful facts about places in {{ root_geo.name }}. Compare places using tables and maps, download data, and embed charts on your site!{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block place_finder %}
<div class="content-container clearfix tan-stripe">
    <article id="profile" class="clearfix wrapper">
        <section class="column-full clearfix big-action">
            <div class="column-header">Explore Nepal Using Data</div>

            <div id="geography-select-wrapper" class="input-wrapper full">
                <input name="geography_select" id="geography-select" type="text" placeholder="Find a place in {{ root_geo.name }}..." autocomplete="off" autofocus="on">
                <div class="or-text">or</div>
                <span class="actions-wrapper">
                    <div class="actions">
                        <a href="{% url 'locate' %}" class="action-button"><i class="fa fa-location-arrow"></i> Use your current location</a>
                        <a class="action-button" href="/profiles/{{ root_geo.geo_level }}-{{root_geo.geo_code }}/">Browse {{ root_geo.name }}</a>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>
{% endblock %}

{% block homepage_detail %}
<div class="content-container clearfix">
    <article id="explore" class="clearfix wrapper">
        {% include "data/_blocks/_data_query_builder.html" %}
    </article>
</div>

<div class="content-container clearfix tan-stripe">
    <article class="wrapper">
        <section class="column-full clearfix">
            <h1 class="article-header">Explore and understand Nepal using data</h1>
            <p>Whether you live in Province 1 or anywhere else in Nepal, find out how many people live in your Province or District or Municipality. Or find out what kind of crops or vegetables farmers produce in the area where you live.</p>
            <div id="slippy-map"></div>
        </section>
        <section>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-book"></i>
                    Find facts
                </h3>
                <p>On the beta version of NepalMap, demographics, agriculture, educational and household data are available.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-bar-chart-o"></i>
                    Visualize
                </h3>
                <p>Our library of charts gives you insight into data from the places you search. Look for them on profile pages. You can also embed the charts on your own website.</a> on your own site.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-refresh"></i>
                    Get context
                </h3>
                <p>Pre-computed statistics are presented alongside each data point, so you can see how each place fits into a larger context.</p>
            </div>
        </section>
    </article>
</div>

<div class="content-container clearfix">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Using {{ WAZIMAP.name }}</h1>
        </header>
        <section class="card-container clearfix">
            <h2 class="column-full subhead">Finding places</h2>
            <span class="column-half card">
                <img src="{% static 'img/examples/text_search.png' %}">
                <span class="caption">Type in the name of the district. Then select the location you are interested in from the dropdown.</span>
            </span>
            <span class="column-half card">
                <img src="{% static 'img/examples/map_search.png' %}">
                <span class="caption">Alternatively, click on the map area you want to go to. The <span class="zoom-in">+</span> and <span class="zoom-out">-</span> buttons zoom in an out.</span>
            </span>
            <h2 class="column-full subhead">Exploring data</h2>
            <span class="column-half card">
                <img src="{% static 'img/examples/section_overview.png' %}">
                <span class="caption">Statistics are broken down into categories. Find a key figure for a sub-category on the left.</span>
            </span>
            <span class="column-half card">
                <img src="{% static 'img/examples/hover_over_graph.png' %}">
                <span class="caption">Hover over graphs to see comparisons with the district and country averages.</span>
            </span>
        </section>
    </article>
</div>

<div class="content-container clearfix tan-stripe">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">About {{ WAZIMAP.name }}</h1>

         <!-- <p class="explainer"> -->
                <p>NepalMap makes data on Nepal more accessible and understandable.</p>
                <p>NepalMap is of great use to journalists, students, academics and others who are interested in using data to learn about Nepal.</p>
                <p>This tool is a friendly and reliable resource for journalists who want to use data to tell stories or discover stories that are of public interest.</p>
                <p>NepalMap uses the <a href="http://nationaldata.gov.np/" target="_blank">National Data Profile</a>, created by the <a href="http://www.cbs.gov.np/" target="_blank">Central Bureau of Statistics</a>, and other official sources, to create user-friendly data visualizations on key demographic issues.</p>
                <p>You can <span class="bold">embed, access or download</span> the data too. You can also compare any two areas side-by-side.</p>
                <p>NepalMap is a project of <a href="http://codefornepal.org/en/" target="_blank">Code for Nepal</a>, a non-profit that works to increase digital literacy and the use of open data in Nepal. Please make a <a href="https://www.paypal.com/fundraiser/charity/117735" target="_blank">tax deductible donation</a> to help us maintain the server space for NepalMap, and empower Nepal digitally!</p>
            <!-- </p> -->
<h2 class="column-full subhead">Shoulders of Giants</h2>
<p>Yes! NepalMap is based on <a href="https://github.com/Code4SA/wazimap" target="_blank">Wazimap</a> which is 
    a fork of <a href="https://censusreporter.org/" target="_blank">Census Reporter</a>. Wazimap is built and maintained by <a href="http://code4sa.org/" target="_blank">Code for South Africa</a>. Other implementations include <a href="https://kenya.wazimap.org/" target="_blank">Wazimap Kenya</a> and <a href="https://wazimap.co.za" target="_blank">Wazimap South Africa</a>, the first Wazimap implementation. All of these tools are completely open source. You can build <a href="https://wazimap.readthedocs.org/en/latest/index.html">one</a> for your country. NepalMap code is licensed under the MIT License.
<p>

<p>NepalMap branding is copyright of Code for Nepal and cannot be used without permission.</p> 

<h2 class="column-full subhead">Help us</h2>
<p>Code for Nepal is entirely built by volunteers who are committed to ensuring everyone has access to open data about Nepal. We need more help. </p>
<p>We are looking for volunteers who can help us add more data, and improve NepalMap. If you have the right skills, and would like to help, please complete this <a href="http://codefornepal.org/en/help/" target="_blank">form</a>!</p> 

<h2 class="column-full subhead">Privacy Policy</h2>
<p>This website uses Google Analytics to help analyse how visitors use this site. Google Analytics uses “cookies”, which are small text files placed on your computer, to collect standard internet log information and visitor behaviour information in an anonymous form.</p> 
        </header>
    </article>
</div>
{% endblock %}
