{
  acme_ca {$ACME_CA_URL}
  email {$TLS_EMAIL}
  admin off
  storage file_system {
    root {$STORAGE_ROOT}
  }
}

{$HOST_NAME}

root * /static

reverse_proxy {$PROXY_HOST}:{$PROXY_PORT}

encode gzip

log
